.pagination {
  text-align: center;
  margin-top: 50px;
  color: blue;
}



.pagination{
  // display: flex;
  margin-top: 50px;
  // width: 50%;
  text-align: center;
  justify-content: flex-start;
  font-size: 18px;
}
