@media screen and (min-width: 1438px) { 
  .posts__list {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;


    &__box {
      height: 350px;
      width: 300px;
      margin: 40px 10px 0 12px;
      text-align: center;
      box-shadow: 0 2px 6px #c1ced7;
      background-color: rgba(0, 128, 128, 0.2);

      &__name {
        padding: 0 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font: {
        size: 18px;
        weight: bold;
        }
      }

      &__content {
        line-height: 1;
        height: 42px;
        margin-top: 10px;
        padding: 0 25px;
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

      &__user {
        margin-top: 10px;
        padding: 0 25px;
        font-size: 14px;
        float: left;
        a {
          color: black;
        }
      }

      &__like {
        display: inline-block;
        margin-top: 10px;
        float: right;
        padding: 0 25px;
      }
    }

    img {
      width: 100%;
    }
  }


  // 編集と削除のアイコン
  .posts__edit {
    text-align: right;
    a {
      color: #777;
      font-size: 14px;
    }
  }

  .posts__delete {
    text-align: right;
    a {
      color: #777;
    }
  }

  // いいねアイコン
  .fa-heart {
    color: red;
  }

  .red-text {
    color: red;
  }

  .vertical_like {
    text-align: right;
  }
}