* {
  text-decoration: none;
}

.posts__list {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;

  &__box {
    @include product-box;

    &__name {
      padding: 0 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font: {
      size: 18px;
      weight: bold;
      }
    }

    &__content {
      line-height: 1;
      height: 40px;
      margin-top: 10px;
      padding: 0 25px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__user {
      margin-top: 10px;
      padding: 0 25px;
      font-size: 14px;
      float: left;
    }

    &__like {
      display: inline-block;
      margin-top: 10px;
      float: right;
      padding: 0 25px;
    }
  }
}


// 編集と削除のアイコン
.posts__update {
  text-align: right;
  a {
    color: #777;
    font-size: 14px;
  }
}

.posts__delete {
  text-align: right;
  a {
    color: #777;
  }
}

// いいねアイコン
.fa-heart {
  color: red;
}

.red-text {
  color: red;
}

.vertical_like {
  text-align: right;
}