.search-bar{
  margin-right: 50px;
   &__container {
    position: relative;
    line-height: 50px;
    width: 250px;
    font-size: 14px;
  }

  .search { 
    height: 35px;
    padding-left: 50px;
    vertical-align: middle;
  }

  ::placeholder {
    line-height: 35px;
    font-size: 12px;
    margin: 0 auto;
  }

  .search::-webkit-input-placeholder {
    padding-top: 0.1em;
  }

  .search-btn{
    position: absolute;
    top: 12px;
    left: 0;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .fa-search {
    font-size: 14px;
  }
} 