.side-bar2
  .side-bar2__title
    = @post.user.nickname + "さんの投稿"
  .side-bar2__box
    - @posts.each do |post|
      = link_to post_path(post.id) do
        %p= post.name
        = image_tag(post.image.url, size: '200x200', class: "side-img2")
