  
// ログイン


.row {
  padding-top: 80px;
  text-align: center;
  color: #57575f;
  font-size: 30px;
}

.form {
  max-width: 580px;
  width: 95%;
  margin: 2rem auto 0;
  padding: 2rem 5rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

// 新規登録とログイン
.form-heading {
  margin: 60px 0 20px;
  font-weight: 300;
  font-size: 48px;
  color: rgba(0, 128, 128, 0.7);
  text-align: center;
}

.form-body {
  padding: 30px;
}

.form-error {
  background-color: rgba(0, 128, 128, 0.7);
}

.field {
  padding-bottom: 40px;
}

// ログイン画面にある新規登録ボタン

.registration {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 20px;
  cursor: pointer;
  a {
    color: white;
  }
}

input {
  width: 100%;
  padding: 10px 0;
  color: #57575f;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #E9EAED;
}

p {
  color: white;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 1px solid #E9EAED;
}

.form input[type="submit"] {
  height: 40px;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  // margin-bottom: 40px;
}

// 戻るボタン
.return{
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 40px;
  text-align: center;
  a {
    color: white;
  }
}

.btn {
  display: inline-block;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}


.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.side-form {
  text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}