body {
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}


// ヘッダー 
header {
  height: 50px;
  width: 100%;
  background-color: rgba(0, 128, 128, 0.7);
  position: fixed;
  top: 0;
  z-index: 10;
}


.header-right {
  display: flex;
  float: right;

  li {
    line-height: 50px;
    padding: 0 25px;
    display: block;
    height: 8px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
}

.header-left {
  float: left;

  li {
    line-height: 50px;
    padding: 0 25px;
    color: white;
    display: block;
    width: 200px;
  } 

  a {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }

  .title {
    font-size: 30px;
  }
}

footer {
  height: 50px;
  width: 100%;
  background-color: rgba(0, 128, 128, 0.7);
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.footer-item {
  text-align: center;
  line-height: 50px;
  color: white;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 10px;
}

.mainvisual {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-image: url(/toppage.jpg);
  background-size: cover;
  background-position: center;

  h2 {
    width: 100%;
    text-align: center;
    background: rgba(0, 128, 128, 0.7);
    text-shadow: 1px 2px 3px #808080;
    color: white;
    font-size: 4rem;
    padding: 1rem;
  }


  p {
    text-align: center;
    font-size: 18px;
  }

 &__login  {
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    border-radius: 10px;
    top: 70%;
    background: rgba(0, 128, 128, 0.7);
    a {
      font-size: 20px;
      text-decoration: none;
      text-shadow: 1px 2px 3px #808080;
      color: white;
    }
 }
}
