@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr";
@import "mixin/mixin";
@import "posts/comments";
@import "posts/index";
@import "posts/show";
@import "posts/side-bar";
@import "posts/side-bar2";
@import "shared/footer";
@import "shared/header";
@import "shared/notifications";
@import "shared/paginate";
@import "shared/posts-box";
@import "shared/responsive";
@import "shared/responsive2";
@import "shared/responsive3";
@import "shared/search";
@import "users/show";
@import "form";
@import "reset";
@import "top";

* {
  text-decoration: none;
  // box-sizing: border-box;
}

body {
  background-color: rgba(128, 128, 128, 0.1);
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
}
