.user__area {
  @include area-style;
  height: 170px;
  width: 800px;
  margin: 80px auto 0;
  border-radius: 10px;

  &__avatar {
      padding: 10px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
  }

  &__profile h3 {
    text-align: center;
    margin: -100px 350px 0 0;
    font-weight: bold;
  }
}

.post__like {
display: flex;
width: 300px;
margin: 80px auto 0;

h3 {
  @include area-style;
  font-size: 14px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 80px;
  margin: 10px 5px 0 0;
  padding: 0 30px;
  float: left;
  border-radius: 10px;
  color: black;
  &:hover {
    background-color: rgba(0, 128, 128, 0.7);
    color: white;
  }
}
}


// .list__area {
// width: 70%;
// margin: 0 auto 80px;
// padding: 50px 0;
// }

.tab-btn-box {
  display: flex;
  justify-content: center;
  margin: 100px auto 0;
}
 
/* タブのボタン */
.tab {
  width: 150px;
  padding: 5px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 2px 6px #c1ced7;
  border-radius: 10px;
  cursor: pointer;
}
 
.tab.is-active {
  background-color: rgba(0, 128, 128, 0.7);
  color: #fff;
}

.tab-contents-box {
  margin: 0 auto 100px;
  width: 70%;
}
 
/* タブの中身 */
.tab-contents {
  display: none;
}
 
/* ボタンを押した後コンテンツを表示 */
.tab-contents.is-show {
  display: block;
}