.comments {
  width: 800px;
  margin: 0 auto 120px;
  padding-top: 30px;
  background-color: white;

  &__area {
    display: block;
    width: 580px;
    height: 70px;
    margin: 0 auto;
    border: 1px solid #c1ced7;
    border-radius: 10px;
  }

  &__input {
    display: block;
    border: none;
    height: 40px;
    width: 580px;
    margin: 40px auto;
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
  }

  &__list {
    &__header {
      padding: 20px;
      border-top: 1px solid #c1ced7;
    } h2 {
      font-size: 20px;
    }

    &__show {
      height: 250px;
      margin: 0px auto;
      padding: 20px;
      overflow: scroll;
    } 

    .block {
      color: #777;
      height: 50px;
      width: 100%;
      margin: 0 auto;
      display: grid;


      &__text {
        display: inline-block;
        color: #777;
        a {
          float: right;
          color: #777;
        }
      }

      &__date-delete {
        text-align: right;
        border-bottom: 1px solid #c1ced7;
        .fas {
          color: #777;
        }
      }
    }
  }
}