.posts {
  width: 70%;
  margin: 50px 0 80px 20px;
  padding: 50px 0;
  box-shadow: 0 2px 6px #c1ced7;
  background-color: white;
  h2 {
  margin-bottom: 30px;
  text-align: center;
    font: {
      size: 30px;
      weight:bold ;
    }
  }
}