// side-bar1
.side-bar {
  width: 25%;
  padding: 50px 10px 29px 0;
  margin-right: 20px;
  float: right;
  box-shadow: 0 2px 6px #c1ced7;
  background-color: white;

  &__title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    h2 {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &__box {
    text-align: center;
    a {
      color: black;
    }
  }
  &__box2 {
    text-align: center;
    p {
      color: black;
    }
  }
}

.side-img {
  margin: 10px 0;
}