@media screen and (min-width: 1438px) {  
  .side-bar2 {
    margin: 100px 20px 100px 136px;

    &__title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      box-shadow: 0 2px 6px #c1ced7;
      background-color: rgba(255, 255, 255, 1);
      border-bottom: 1px solid rgba(0,0,0,0.125);
      color: rgba(0, 128, 128, 1);
      h2 {
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
      }
    }

    &__box {
      text-align: center;
      box-shadow: 0 2px 6px #c1ced7;
      background-color: rgba(255, 255, 255, 1);
      padding: 50px 0;
      p {
        color: black;
      }
    }
  }

  .side-img2 {
    margin: 10px 50px 50px 50px;
  }
}